@use '../../styles/tokens' as *;

.column {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    background: var(--bg-2);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);

    padding: var(--space-2);
    min-width: 260px;

    transition: background 0.2s ease, border 0.2s ease;

    .columnHeader {
        display: flex;
        gap: var(--space-1);
        justify-content: space-between;

        color: var(--text);

        .title {
            font-size: 14px;
            font-weight: 600;
        }
    }

    .cardList {
        display: flex;
        flex-direction: column;
        gap: var(--space-2); // gap mínimo entre os cards
    }

    &.isOver {
        background: var(--primary-soft);
        border-color: var(--primary);
    }

    .footer {
        width: 100%;
    }
}
