@use '../../styles/tokens' as *;

.column {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    padding: var(--space-2);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);

    min-width: 260px;
    max-height: 100%;

    background: var(--bg-2);
    transition: background 0.2s ease, border 0.2s ease;

    .columnHeader {
        min-height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: var(--text);
        gap: var(--space-1);

        .title {
            font-size: 14px;
            font-weight: 600;
            padding-left: 0.75rem;
        }
    }

    .tasks {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: var(--space-2);

        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #e3e4f21f;
    }

    &.isOver {
        background: var(--primary-soft);
        border-color: var(--primary);
    }

    .footer {
        width: 100%;
    }
}
